body {
  margin: 0;
  background-color: #F9F8F4;
  font-family: "Inter", sans-serif;
  color: #1C232F;
}

h1, h2, h3 {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 64px;
  margin: 0px;
  text-transform: uppercase;
  color: #F9F8F4;
}

h2, h3 {
  color: #1C232F;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

p, li {
  line-height: 1.5em;
}

#recipe-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

ul.list-inline li {
  display: inline;
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.header {
  background-color: #1C232F;
  padding: 2rem 0;
  text-align: center;
}

.subtitle {
  font-size: 24px;
  font-style: italic;
  color: #F9F8F4;
  margin: 0;
}

.background-secondary {
  background-color: #886176;
  color: #F9F8F4;
}

.badge {
  border-radius: 2px;
  padding: 0.5em 1em;
}

.mr-1em {
  margin-right: 1em;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.card {
  background-color: #FFFFFF;
  border-radius: 2px;
  padding: 2rem;
}

.my-2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-4rem {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.py-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  border-radius: 2px;
  padding: 1rem 2rem;
  font-weight: 600;
}

.btn-primary {
  border: solid 2px #886176;
  color: #886176;
  transition: all 0.3s;
}

.btn-primary:hover {
  color: #F9F8F4;
  background-color: #886176;
  transition: all 0.3s;
}

